@grey-color: #E0E0E0;
@white-color: #FFFFFF;
@blue-color: #2894ff;
@green-color: #289928;
@yellow-color: #FFC125;
@red-color: #FF0000;
@white-color: #F0F0F0;
@black-color: #000000;
.background-color-white {
  background-color: @white-color;
}

.background-color-blue {
  background-color: @blue-color;
}

.background-color-grey {
  background-color: @grey-color;
}

.background-color-red {
  background-color: @red-color;
}

.color-grey {
  color: @grey-color;
}

.color-black {
  color: @black-color;
}

.border-right-color-grey {
  border-right-color: @grey-color;
}

.border-bottom-color-grey {
  border-bottom-color: @grey-color;
}

.background-color-white {
  background-color: @white-color;
}

.background-color-green {
  background-color: @green-color;
}

.color-green {
  color: @green-color;
}

.background-color-yellow {
  background-color: @yellow-color;
}

.color-red {
  color: @red-color;
}

.color-white {
  color: @white-color;
}