@grey-color: #F7F6FB;
@white-color: #FFFFFF;
@blue-color: #2894ff;
@green-color: #289928;
@yellow-color: #FFC125;
@red-color: #DA0044;
@white-color: #FFF;
@black-color: #333;
@less-grey-color: #565656;
@dark-green: #00988B;
.background-color-white {
  background-color: @white-color;
}

.background-color-blue {
  background-color: @blue-color;
}

.background-color-grey {
  background-color: @grey-color;
}

.background-color-red {
  background-color: @red-color;
}

.color-grey {
  color: @grey-color;
}

.color-black {
  color: @black-color;
}

.border-right-color-grey {
  border-right-color: @grey-color;
}

.border-bottom-color-grey {
  border-bottom-color: @grey-color;
}

.background-color-white {
  background-color: @white-color;
}

.background-color-green {
  background-color: @green-color;
}

.color-green {
  color: @green-color;
}

.background-color-yellow {
  background-color: @yellow-color;
}

.color-red {
  color: @red-color;
}

.color-white {
  color: @white-color;
}

.border-color-blue {
  border-color: @blue-color !important;
}

.border-color-dark-green {
  border-color: @dark-green !important;
}

.color-less-grey {
  color: @less-grey-color;
}

.background-dark-green {
  background-color: @dark-green;
}